body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

@media (max-width: 900px) {
    header {
        padding: 0 30px;
    }
    header h1 {
        font-size: 28px;
    }
}

main {
    display: flex;
    padding: 10px 0;
    border-top: 3px solid #444444;
    border-bottom: 3px solid #444444;
}

@media (max-width: 600px) {
    main {
        padding: 0 0 10 0;
        flex-direction: column;
    }
}

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer .copyright {
    margin: 0px;
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

footer .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .luftkrabbe {
    display: block;
    height: 30px;
    width: 38px;
    background: center / contain no-repeat url('./img/luftkrabbe.png');
}

footer .logo {
    display: block;
    height: 30px;
    width: 50px;
    background: center / contain no-repeat url('./img/logoRSS.png');
}

footer .year {
    margin: 0 7px;
    color: #444444;
    font-weight: 700;
}

